{% extends 'admin/base.html' %}

{% load i18n static %}
{% load cache unfold i18n %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block content %}
{% component "unfold/components/container.html" %}




{% component "unfold/components/flex.html" with class="gap-8 " col=1 %}
{% for stats in homePageViews %}
    {% component "unfold/components/card.html" %}
        {% component "unfold/components/text.html" %}
            {{ stats.title }}
        {% endcomponent %}   

        {% component "unfold/components/title.html" with class="mb-8" %}
            {{ stats.metric }}
        {% endcomponent %}                                  

        {% component "unfold/components/chart/line.html" with data=stats.chart options=stats.options%}{% endcomponent %}
     
    {% endcomponent %}
{% endfor %}

{% for stats in ProjectViewsOvertime %}
    {% component "unfold/components/card.html" %}
        {% component "unfold/components/text.html" %}
            {{ stats.title }}
        {% endcomponent %}   

        {% component "unfold/components/title.html" with class="mb-8" %}
            {{ stats.metric }}
        {% endcomponent %}                                  

        {% component "unfold/components/chart/line.html" with data=stats.chart options=stats.options%}{% endcomponent %}
    {% endcomponent %}
{% endfor %}


{% for stats in ProjectPageViews %}
    {% component "unfold/components/card.html" %}
        {% component "unfold/components/text.html" %}
            {{ stats.title }}
        {% endcomponent %}   

        
        {% component "unfold/components/chart/bar.html" with data=stats.chart options=stats.options%}{% endcomponent %}
    {% endcomponent %}


{% endfor %}

{% for stats in ServiceStates %}
                               
    {% component "unfold/components/card.html" %}
    {% component "unfold/components/title.html" with class="mb-6" style="font-weight: bold;" %}
{{ stats.metric }}
{% endcomponent %}   
        {% component "unfold/components/text.html" %}
            {{ stats.title }}
        {% endcomponent %}   

        
        {% component "unfold/components/chart/bar.html" with data=stats.chart options=stats.options%}{% endcomponent %}
    {% endcomponent %}


{% endfor %}


{% for stats in CountriesChart %}
                               
    {% component "unfold/components/card.html" %}
    {% component "unfold/components/title.html" with class="mb-6" style="font-weight: bold;" %}
{{ stats.metric }}
{% endcomponent %}   
        {% component "unfold/components/text.html" %}
            {{ stats.title }}
        {% endcomponent %}   

        
        {% component "unfold/components/chart/bar.html" with data=stats.chart options=stats.options%}{% endcomponent %}
    {% endcomponent %}


{% endfor %}





{% endcomponent %}   {% endcomponent %}

        
        


{% endblock %}
