@font-face {
    font-family: 'MainFont';
    src: url('../fonts/AldotheApache.ttf');
    font-weight: normal;
    font-style: normal;
}

.site-row img,
picture img {
    max-width: 100%
}

:focus,
input {
    outline: 0
}

#header li,
#landing-footer li,
#logo h1,
#logo h2,
.nav-solid #logo #navigation-logo {
    display: inline-block
}

#logo,
#logo img {
    margin-right: 15px
}

#header nav ul,
#nav-trigger span {
    text-transform: uppercase
}

#header,
.site-col-1,
picture img {
    width: 100%
}

.icon-block,
.site-row,
nav#nav-mobile {
    position: relative
}

.icon-block .icon,
nav#nav-mobile ul {
    position: absolute
}

#landing-footer,
.divider,
.features div:nth-child(4),
section {
    clear: both
}

#header li,
#landing-footer p,
body {
    margin: 0
}

#header li,
.social-icons {
    list-style: none
}

#scrollUp,
a {
    text-decoration: none
}

#preloader,
nav#nav-mobile ul {
    right: 0;
    background-color: #fff;
    left: 0
}

#banner,
#status {
    background-position: center
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

blockquote,
body,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
pre,
td,
th,
ul {
    margin: 0;
    padding: 0;
    direction: ltr
}

body {
    padding: 0;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-y: hidden
}

:root {
    --main-color: #5d1410;
    --secondry-color: white
}

p {
    line-height: 25px
}

.site-row img {
    height: auto;
    border-radius: 5px
}

a {
    line-height: inherit;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

input,
textarea {
    border: 1px solid #e1e1e1;
    padding: 10px;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    transition: .3s linear;
    border-radius: 3px
}

input {
    height: 40px;
    margin: 3px 0;
    line-height: normal;
    font-size: 14px
}

input[type=submit] {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    padding-top: 0;
    padding-bottom: 0
}

select {
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 5px
}

#nav-trigger span,
#nav-trigger span:after {
    width: 38px;
    height: 71px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px
}

input:focus,
textarea:focus {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1)
}

.another-section {
    height: 100vh
}

section {
    overflow: hidden
}

.site-row {
    max-width: 1245px;
    margin: 0 auto
}

.no-padding-bottom .site-row,
.no-padding-bottom div,
.no-padding-bottom.site-row {
    padding-bottom: 0
}

.no-padding-top div,
.no-padding-top.site-row {
    padding-top: 0
}

.big-padding-top {
    padding-top: 75px !important
}

.big-padding-bottom {
    padding-bottom: 85px !important
}

[class*=col-] {
    float: left;
    padding: 20px
}

.project-container [class*=col-] {
    float: auto;
    padding: 0
}

#clients .site-col-2-3 [class*=col-],
#header .site-row,
#landing-footer .site-row {
    padding: 0
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.site-col-2 {
    width: 50%
}

.site-col-3 {
    width: 33.33%
}

.col-4 {
    width: 25%
}

.col-5 {
    width: 20%
}

.col-6 {
    width: 16.6666666667%
}

.col-7 {
    width: 14.2857142857%
}

.col-8 {
    width: 12.5%
}

.col-9 {
    width: 11.1111111111%
}

.col-10 {
    width: 10%
}

.col-11 {
    width: 9.09090909091%
}

.col-12 {
    width: 8.33%
}

.site-col-2-3 {
    width: 66.66%
}

.site-col-3-4 {
    width: 75%
}

.col-9-10 {
    width: 90%
}

.col-61 {
    width: 61.8%
}

.site-col-38 {
    width: 38.2%
}

#header {
    height: 71px;
    overflow: visible;
    z-index: 9999;
    position: absolute !important;
    font-size: 13px
}

#header aside {
    text-align: right;
    float: right
}

#header ul,
#nav-trigger span,
.social-icons a,
.text-center,
nav#nav-mobile ul {
    text-align: center
}

#header .col-4,
#nav-trigger,
.text-right {
    text-align: right
}

#logo {
    float: left;
    height: 71px;
    line-height: 66px
}

#logo h1 {
    font-family: "El Messiri", sans-serif;
    font-size: 28px;
    margin-right: 10px;
    font-weight: 900;
    padding: 0
}

#logo h2 {
    font-size: 18px;
    padding: 0
}

#logo img {
    max-height: 70px;
    vertical-align: middle
}

#navigation-logo,
.nav-solid #logo #banner-logo,
.social-icons span,
nav#nav-mobile ul:after {
    display: none
}

#nav-trigger span,
#nav-trigger span:after,
#scrollUp:before,
.main-button,
.social-icons,
.social-icons a {
    display: inline-block
}

.call-to-action {
    padding: 35px 0
}

.main-button {
    font-size: 16px;
    margin: 35px 0;
    padding: 11px 16px;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    transition: .3s linear;
    border-width: 3px;
    border-style: solid
}

#header.nav-solid .social-icons a,
#header.nav-solid nav a {
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out
}

#header nav a {
    height: 71px;
    line-height: 71px;
    display: block;
    padding: 0 10px
}

#header nav a:hover,
#nav-trigger span:hover,
.nav-solid #nav-trigger span.open:hover,
.nav-solid #nav-trigger span:hover {
    opacity: .6
}

#header.nav-solid [class*=col-] {
    padding: 0 20px
}

#header.nav-solid {
    background: #fff;
    box-shadow: 2px 0 3px rgba(0, 0, 0, .2);
    position: fixed !important;
    left: 0
}

#header.nav-solid nav a {
    border-bottom: 3px solid;
    border-color: #fff;
    transition: .3s ease-out
}

#header.nav-solid nav a:hover {
    opacity: 1
}

#header.nav-solid .social-icons a {
    transition: .3s ease-out;
    opacity: .5
}

#nav-trigger span,
nav#nav-mobile a {
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out
}

#header.nav-solid .social-icons a:hover {
    opacity: 1;
    color: #e4473c
}

#nav-trigger {
    display: none
}

#nav-trigger span {
    color: #939393;
    cursor: pointer;
    font-size: 22px;
    transition: .3s ease-out
}

#nav-trigger span:after {
    font-family: fontAwesome;
    line-height: 75px;
    text-align: center;
    content: "\f0c9"
}

#nav-trigger span.open:after {
    content: "\f00d"
}

#nav-trigger span.open,
#nav-trigger span.open:hover {
    color: #939393
}

.nav-solid #nav-trigger span.open:hover {
    color: #999
}

.nav-solid #nav-trigger span {
    color: #999;
    opacity: 1
}

nav#nav-mobile {
    display: none
}

nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2)
}

nav#nav-mobile li {
    margin: 0 20px;
    float: none;
    text-align: left;
    border-bottom: 1px solid #e1e1e1
}

nav#nav-mobile li:last-child {
    border-bottom: none
}

.nav-solid nav#nav-mobile li {
    border-top: 1px solid #e1e1e1;
    border-bottom: none
}

nav#nav-mobile a {
    padding: 12px 0;
    color: #333;
    width: 100%;
    height: auto;
    line-height: normal;
    display: block;
    border-bottom: none !important;
    transition: .3s ease-out
}

nav#nav-mobile a:hover {
    background: #fafafa;
    opacity: 1
}

.icon-top,
.icon-top .icon,
.image-center {
    display: block
}

.social-icons a {
    width: 32px;
    font-size: 15px
}

.social-icons a:hover,
a img:hover {
    opacity: .7
}

#header .social-icons {
    margin-top: 27px
}

img {
    vertical-align: top
}

.image-center {
    margin: 0 auto
}

a img {
    border: none;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out
}

h1 {
    padding: 20px 0
}

h2 {
    padding: 14px 0
}

h3 {
    padding: 10px 0
}

h4,
h5,
h6 {
    padding: 7px 0
}

.text-left {
    text-align: left
}

#scrollUp,
#scrollUp:before,
#status,
.divider {
    text-align: center
}

.section-heading {
    padding: 0 0 15px
}

.section-heading span {
    color: #8b1b12;
    font-family: 'MainFont';
}

.section-subtitle {
    font-size: 18px;
    padding-top: 0
}

.section-heading h3 {
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0
}

.section-heading h1 {
    min-height: 190px
}

#banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 950px
}

#banner-content.site-row {
    padding-top: 150px;
    padding-bottom: 70px
}

#banner h1 {
    padding-top: 5%
}

#banner .section-heading:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px
}

.fa-1x {
    font-size: 15px !important
}

.icon-block h4 {
    font-weight: 700;
    padding-top: 0
}

.divider,
.divider i,
.icon-top .icon {
    position: relative
}

.icon-block p {
    margin-top: 0
}

.icon-left .icon {
    left: 15
}

.icon-left .icon-block-description {
    padding-left: 53px
}

.icon-right .icon {
    right: 15
}

.icon-right .icon-block-description {
    padding-right: 53px
}

.icon-top .icon-block-description {
    padding-top: 25px
}

.banner-parallax-1,
.banner-parallax-2,
.banner-parallax-3 {
    min-height: 350px
}

.divider {
    width: 40%;
    height: 20px;
    line-height: 20px;
    margin: 10px auto 5px
}

#over-lay,
#status,
#video-overlay,
#video_background,
.divider-inner {
    position: absolute
}

.divider-inner {
    height: 1px;
    width: 100%;
    top: 50%;
    margin-top: -1px;
    border-top: 1px solid;
    border-color: #e1e1e1
}

#over-lay,
#video-overlay,
.video_container {
    width: 100%;
    height: 100%
}

.divider i {
    background: #fff;
    top: -11px;
    padding: 0 5px;
    color: #e1e1e1
}

.introduction img.featured {
    padding: 55px 0 0
}

.features.site-row {
    padding-left: 5%;
    padding-right: 5%
}

@media all {
    .featherlight {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2147483647;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        background: rgba(0, 0, 0, 0)
    }

    .featherlight:last-of-type {
        background: rgba(0, 0, 0, .8)
    }

    .featherlight:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -.25em
    }

    .featherlight .featherlight-content {
        text-align: left;
        vertical-align: middle;
        display: inline-block;
        overflow: auto;
        padding: 25px 0;
        border-bottom: 25px solid transparent;
        min-width: 30%;
        margin-left: 5%;
        margin-right: 5%;
        max-height: 95%;
        cursor: auto;
        white-space: normal
    }

    .featherlight .featherlight-inner {
        display: block
    }

    .featherlight .featherlight-close-icon {
        position: absolute;
        z-index: 9999;
        top: 25px;
        right: 25px;
        line-height: 25px;
        width: 25px;
        cursor: pointer;
        text-align: center;
        color: #fff;
        font-family: fontawesome;
        font-size: 22px;
        opacity: .5;
        -webkit-transition: .3s ease-out;
        -moz-transition: .3s ease-out;
        -o-transition: .3s ease-out;
        transition: .3s ease-out
    }

    .featherlight .featherlight-close-icon:hover {
        opacity: 1
    }

    .featherlight .featherlight-image {
        max-height: 100%;
        max-width: 100%
    }

    .featherlight-iframe .featherlight-content {
        border-bottom: 0;
        padding: 0
    }

    .featherlight iframe {
        border: none
    }
}

@media only screen and (max-width:1024px) {
    .featherlight .featherlight-content {
        margin-left: 10px;
        margin-right: 10px;
        max-height: 98%;
        padding: 10px 10px 0;
        border-bottom: 10px solid transparent
    }

    .chatbot-icon {
        display: none
    }

    .project-page .project-section-1 .container-sm {
        height: auto
    }
}

@media(max-width:1024) {
    .project-page .project-section-1 .container-sm {
        height: auto
    }
}

.video_container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -999
}

#video_background {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    overflow-x: hidden;
    object-fit: cover;
}

#video-overlay {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1
}

#over-lay {
    background-color: rgba(0, 0, 0, .2);
    z-index: 0
}

#landing-footer ul {
    list-style: none;
    text-align: right;
    line-height: 3.5
}

#scrollUp {
    bottom: 15px;
    right: 30px;
    width: 70px;
    height: 80px;
    margin-bottom: -10px;
    padding: 0 5px 20px;
    z-index: 2000 !important;
    color: var(--main-color);
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear
}

#scrollUp:hover {
    margin-bottom: 0
}

#scrollUp:before {
    background: var(--main-color);
    font-family: fontawesome;
    font-size: 2.4em;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 45px;
    content: "\f106";
    opacity: 1
}

#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99999
}

#status {
    width: 110px;
    height: 110px;
    left: 50%;
    top: 50%;
    margin: -55px 0 0 -55px
}

.la-ball-triangle-path,
.la-ball-triangle-path>div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.la-ball-triangle-path {
    display: block;
    font-size: 0;
    color: #fff;
    width: 32px;
    height: 32px
}

.la-ball-triangle-path.la-dark {
    color: #333
}

.la-ball-triangle-path>div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%
}

.la-ball-triangle-path>div:first-child {
    -webkit-animation: 2s ease-in-out infinite ball-triangle-path-ball-one;
    -moz-animation: 2s ease-in-out infinite ball-triangle-path-ball-one;
    -o-animation: 2s ease-in-out infinite ball-triangle-path-ball-one;
    animation: 2s ease-in-out infinite ball-triangle-path-ball-one
}

.la-ball-triangle-path>div:nth-child(2) {
    -webkit-animation: 2s ease-in-out infinite ball-triangle-path-ball-two;
    -moz-animation: 2s ease-in-out infinite ball-triangle-path-ball-two;
    -o-animation: 2s ease-in-out infinite ball-triangle-path-ball-two;
    animation: 2s ease-in-out infinite ball-triangle-path-ball-two
}

.la-ball-triangle-path>div:nth-child(3) {
    -webkit-animation: 2s ease-in-out infinite ball-triangle-path-ball-tree;
    -moz-animation: 2s ease-in-out infinite ball-triangle-path-ball-tree;
    -o-animation: 2s ease-in-out infinite ball-triangle-path-ball-tree;
    animation: 2s ease-in-out infinite ball-triangle-path-ball-tree
}

.la-ball-triangle-path.la-sm {
    width: 16px;
    height: 16px
}

.la-ball-triangle-path.la-sm>div {
    width: 4px;
    height: 4px
}

.la-ball-triangle-path.la-2x {
    width: 64px;
    height: 64px
}

.la-ball-triangle-path.la-2x>div {
    width: 20px;
    height: 20px
}

.la-ball-triangle-path.la-3x {
    width: 96px;
    height: 96px
}

.la-ball-triangle-path.la-3x>div {
    width: 30px;
    height: 30px
}

@-webkit-keyframes ball-triangle-path-ball-one {
    0% {
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    66% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }
}

@-moz-keyframes ball-triangle-path-ball-one {
    0% {
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    66% {
        opacity: 1;
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    100% {
        opacity: 1;
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }
}

@-o-keyframes ball-triangle-path-ball-one {
    0% {
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    66% {
        opacity: 1;
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    100% {
        opacity: 1;
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }
}

@keyframes ball-triangle-path-ball-one {
    0% {
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    66% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }
}

@-webkit-keyframes ball-triangle-path-ball-two {
    0% {
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    66% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }
}

@-moz-keyframes ball-triangle-path-ball-two {
    0% {
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    66% {
        opacity: 1;
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    100% {
        opacity: 1;
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }
}

@-o-keyframes ball-triangle-path-ball-two {
    0% {
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    66% {
        opacity: 1;
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    100% {
        opacity: 1;
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }
}

@keyframes ball-triangle-path-ball-two {
    0% {
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    66% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }
}

@-webkit-keyframes ball-triangle-path-ball-tree {
    0% {
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    66% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }
}

@-moz-keyframes ball-triangle-path-ball-tree {
    0% {
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    66% {
        opacity: 1;
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    100% {
        opacity: 1;
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }
}

@-o-keyframes ball-triangle-path-ball-tree {
    0% {
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    66% {
        opacity: 1;
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    100% {
        opacity: 1;
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }
}

@keyframes ball-triangle-path-ball-tree {
    0% {
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }

    17%,
    50%,
    83% {
        opacity: .25
    }

    33% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%)
    }

    66% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%)
    }
}

@media all and (max-width:1024px) {

    #nav-trigger,
    nav#nav-mobile,
    nav#nav-mobile li {
        display: block
    }

    #header aside,
    nav#nav-main {
        display: none
    }
}

@media (max-width:480px) {

    #header.nav-solid [class*=col-],
    #logo h2,
    #wrapper {
        padding: 0
    }

    #wrapper {
        margin: 0
    }

    #scrollUp,
    #scrollUp:before,
    .about-image,
    .page-border,
    .section-head__back {
        display: none
    }

    .site-row {
        padding: 15px !important
    }

    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-3-4,
    .col-4,
    .col-5,
    .col-6,
    .col-61,
    .col-7,
    .col-8,
    .col-9,
    .col-9-10,
    .contact_section .contact-form textarea,
    .site-col-2,
    .site-col-2-3,
    .site-col-3,
    .site-col-38,
    .site-row {
        width: 100%
    }

    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-3-4,
    .col-4,
    .col-5,
    .col-6,
    .col-61,
    .col-7,
    .col-8,
    .col-9,
    .col-9-10,
    .site-col-2,
    .site-col-2-3,
    .site-col-3,
    .site-col-38 {
        padding-right: 0;
        padding-left: 0
    }

    #header .site-row {
        padding: 0 15px !important
    }

    #header aside {
        clear: both;
        padding: 0
    }

    #header ul.social-icons {
        margin-top: 0
    }

    #banner-content.site-row {
        padding-top: 85px !important
    }

    .contact-row-small,
    .cookie-consent-content {
        flex-direction: column
    }

    .call-to-action {
        padding-bottom: 25px
    }

    .slvj-lightbox embed,
    .slvj-lightbox iframe,
    .slvj-lightbox object {
        height: 270px !important
    }

    #landing-footer #copyright {
        float: left;
        width: 50%
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%
    }

    h1 {
        font-size: 38px
    }

    #banner h1 {
        font-size: 47px
    }

    #logo img {
        max-height: 60px
    }

    .services-column-sm {
        flex-direction: column-reverse !important;
        margin-top: 30px !important
    }

    .project-image-box {
        max-width: 100% !important
    }

    .info_form,
    .project-section-1 {
        max-width: 100%
    }

    .do_section .img-box {
        margin-bottom: 20px
    }

    .layout_padding {
        padding: 30px 0
    }

    .heading_container h2 {
        text-align: center
    }

    .list-inline li {
        margin-bottom: 10px
    }

    .project-page {
        flex-direction: column-reverse;
        margin-right: 0;
        margin-left: 0
    }

    .project-description {
        text-wrap: wrap;
        overflow-y: scroll
    }

    a#scrollUp {
        display: none !important
    }

    .info_form {
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        border-top: 2px solid;
        border-left: none !important
    }

    .contact-col-small {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .social-icons a {
        width: 25px
    }

    #landing-footer p {
        font-size: 13px
    }
}

@media (min-width:480px) and (max-width:768px) {
    #wrapper {
        margin: 0;
        padding: 0
    }

    #scrollUp,
    #scrollUp:before,
    .page-border,
    .section-head__back {
        display: none
    }

    .site-row {
        padding: 15px 0 !important
    }

    .col-1,
    .col-11,
    .col-3-4,
    .col-5,
    .col-61,
    .col-7,
    .col-9,
    .contact_section .contact-form textarea,
    .quote-box,
    .site-col-2,
    .site-col-2-3,
    .site-col-38,
    .site-row {
        width: 100%
    }

    .about-image,
    .col-10,
    .col-12,
    .col-4,
    .col-6,
    .col-8,
    .scol-3,
    .who-col-mid {
        width: 50%
    }

    .contact-row-small,
    .cookie-consent-content {
        flex-direction: column
    }

    .services-column-sm {
        flex-direction: column-reverse !important;
        margin-top: 30px !important
    }

    .project-page {
        flex-direction: column-reverse;
        margin-right: 0;
        margin-left: 0;
        overflow: hidden
    }

    .project-section-1 {
        max-width: 100%;
        width: 100%
    }

    .project-image-box {
        max-width: 100% !important;
        width: 100%
    }

    .info_form {
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        border-top: 2px solid;
        border-left: none !important
    }

    .contact-col-small {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    #header .site-row {
        padding: 0 !important
    }

    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top: 3px;
        padding-right: 5px
    }

    #header.nav-solid aside {
        top: 20px
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px
    }

    #banner-content.site-row {
        padding-top: 85px !important
    }

    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px
    }

    .slvj-lightbox embed,
    .slvj-lightbox iframe,
    .slvj-lightbox object {
        height: 370px !important
    }

    #landing-footer #copyright {
        float: left;
        width: 50%
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%
    }

    #header .social-icons {
        line-height: 2px
    }
}

@media (min-width:768px) and (max-width:1024px) {
    #wrapper {
        margin: 0;
        padding: 0
    }

    .page-border,
    .section-head__back {
        display: none
    }

    .big-padding-top {
        padding-top: 45px !important
    }

    .contact-row-small,
    .cookie-consent-content {
        flex-direction: column
    }

    .project-page {
        flex-direction: column-reverse;
        margin-right: 0;
        margin-left: 0;
        overflow: hidden
    }

    .project-section-1 {
        max-width: 100%;
        width: 100%
    }

    .project-image-box {
        max-width: 100% !important;
        width: 100%
    }

    .info_form {
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        width: 100%;
        border-top: 2px solid;
        border-left: none !important
    }

    .contact-col-small {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        width: 100%
    }

    .contact_section .contact-form textarea,
    .site-col-38 {
        width: 100%
    }

    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top: 3px;
        padding-right: 5px
    }

    #header.nav-solid aside {
        top: 20px
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px
    }

    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px
    }

    .slvj-lightbox embed,
    .slvj-lightbox iframe,
    .slvj-lightbox object {
        height: 432px !important
    }

    #header .social-icons {
        line-height: 2px
    }
}

@media (min-width:768px) {
    .img-box {
        margin-top: 100px
    }
}

@media(min-width:2800px) {

    #header,
    .social-icons a {
        font-size: 1.042vw !important
    }

    #logo img {
        max-height: 4.861vw !important
    }

    #header {
        height: 4.931vw !important
    }

    .site-row {
        max-width: 86.458vw !important
    }

    .social-icons a {
        width: 2.222vw
    }

    #banner h2 {
        font-size: 1.25vw !important
    }

    #header nav a {
        height: 4.931vw;
        line-height: 4.861vw;
        padding: 0 .694vw
    }

    .project-page,
    [class*=col-] {
        padding: 1.389vw
    }

    #header .social-icons {
        margin-top: 1.875vw
    }

    #banner-content.site-row {
        padding-top: 10.417vw;
        padding-bottom: 4.861vw
    }

    .main-button {
        font-size: 1.111vw;
        margin: 2.431vw 0;
        padding: .764vw 1.111vw;
        border-width: .208vw
    }

    #landing-footer,
    #landing-footer a,
    #landing-footer p,
    body {
        font-size: 1.042vw
    }

    .section-heading {
        padding: 0 0 1.042vw
    }

    #banner h1 {
        font-size: 3.472vw;
        line-height: 4.167vw;
        padding: 1.389vw 0
    }

    #logo {
        height: 4.931vw;
        line-height: 4.583vw;
        margin-right: 1.042vw
    }

    .section-heading h3 {
        font-size: .972vw;
        letter-spacing: .139vw;
        padding: .694vw 0
    }

    h2 {
        padding: .972vw 0
    }

    p {
        line-height: 1.736vw
    }

    .section-heading h2:after {
        width: 2.083vw;
        height: .347vw;
        margin-top: 2.083vw
    }

    .section-subtitle {
        font-size: 1.25vw;
        padding-top: 0
    }

    .testimonial q {
        font-size: 1.181vw
    }

    .cookie-consent {
        padding: 1.042vw 1.042vw 1.042vw 2.083vw;
        border-radius: .347vw;
        box-shadow: 0 .139vw .694vw rgba(0, 0, 0, .2)
    }

    .cookie-consent-content p {
        padding-right: .694vw
    }

    .cookie-consent-content .btn {
        margin: 1.389vw 0;
        padding: .694vw 1.111vw;
        border-width: .208vw;
        font-size: .972vw
    }

    .layout_padding {
        padding: 3.208vw 0
    }

    #header.nav-solid [class*=col-] {
        padding: 0 1.389vw
    }

    .heading_container .section-head__back {
        font-size: 9.028vw;
        -webkit-transform: translateX(-5.833vw);
        -ms-transform: translateX(-5.833vw);
        transform: translateX(-5.833vw);
        margin-bottom: -4.167vw
    }

    .heading_container h2 {
        font-size: 3.472vw
    }

    .do_section .button-style {
        font-size: .972vw;
        line-height: 1.181vw;
        margin: 0 .694vw .694vw 0;
        height: 2.014vw
    }

    .do_section .services-text {
        max-width: 26.389vw
    }

    .do_section .services-text h1 {
        padding-bottom: .972vw;
        margin-bottom: 2.361vw;
        font-size: 1.528vw
    }

    .do_section .services-text p {
        font-size: 1.111vw
    }

    .container {
        max-width: 81.25vw;
        padding-right: 1.042vw;
        padding-left: 1.042vw
    }

    .contact_section .section-head__back {
        font-size: 9.028vw;
        margin-bottom: -4.167vw
    }

    .contact_section .contact-form {
        padding: 1.736vw
    }

    .contact_section .contact-form input,
    .contact_section .form-group input {
        margin: 1.042vw 0;
        padding: .694vw 1.389vw;
        border: .069vw solid #ced1d0
    }

    input {
        height: 2.778vw;
        margin: .208vw 0;
        font-size: .972vw
    }

    .contact_section .contact-form textarea {
        margin: 1.042vw 0;
        min-height: 8.542vw;
        font-size: 1.111vw;
        line-height: 1.667vw;
        border: .069vw solid #ced1d0;
        padding: .486vw 1.389vw
    }

    input,
    textarea {
        border: .069vw solid #e1e1e1;
        padding: .694vw;
        border-radius: .208vw
    }

    .form-group label {
        padding-left: 1.736vw
    }

    .form-group label::before {
        width: 1.389vw;
        height: 1.389vw;
        border: .139vw solid var(--main-bg-color);
        border-radius: .278vw
    }

    .form-group label::after {
        left: .417vw;
        top: .139vw;
        width: .625vw;
        height: .903vw;
        border-width: 0 .139vw .139vw 0
    }

    .contact_section .contact-form button {
        padding: .833vw 3.472vw;
        margin-top: 1.736vw;
        border-radius: 2.083vw;
        font-size: 1.111vw
    }

    .contact_section .info_form {
        border-left: .139vw solid;
        padding-top: 2.778vw
    }

    h3 {
        font-size: 2.083vw
    }

    #scrollUp {
        bottom: 1.042vw;
        right: 2.083vw;
        width: 4.861vw;
        height: 5.556vw;
        margin-bottom: -.694vw;
        padding: 0 .347vw 1.389vw
    }

    .chatbot-icon.visible {
        left: 2.083vw
    }

    .chatbot-icon {
        bottom: 2.778vw;
        left: -4.167vw;
        width: 3.472vw;
        height: 3.472vw;
        box-shadow: 0 .139vw .278vw rgba(0, 0, 0, .2);
        margin-bottom: -.694vw
    }

    .chatbot-icon i,
    .notfound h2 {
        font-size: 1.667vw
    }

    .form-control {
        height: calc(1.5em + .75rem + .139vw) !important;
        font-size: 1.111vw
    }

    #scrollUp:before {
        width: 3.472vw;
        height: 3.472vw;
        line-height: 3.125vw
    }

    .port-height {
        height: 6.944vw
    }

    .btn-square {
        width: 2.639vw;
        height: 2.639vw
    }

    .fa {
        display: inline-block;
        font: 0.972vw/1 FontAwesome
    }

    .do_section .services-text h1::after,
    .project-page .project-section-1 h1::after {
        height: .069vw;
        width: 9.722vw
    }

    .project-page .project-section-1 h1 {
        padding-bottom: .972vw;
        margin-bottom: 2.361vw;
        font-size: 1.528vw;
        padding-top: 2.083vw
    }

    .project-page .project-section-1 .container-sm {
        top: 4.167vw
    }

    .section-title {
        font-size: 2.361vw
    }

    .carousel-indicators li {
        width: .694vw;
        height: .694vw;
        margin-left: .208vw;
        margin-right: .208vw;
        border-top: .694vw;
        border-bottom: .694vw;
        text-indent: -69.375vw
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 1.389vw;
        height: 1.389vw
    }

    .do_section .button-style {
        padding: .417vw 1.354vw .417vw 1.389vw;
        border: .069vw solid #3e3e3e
    }

    .row {
        margin-right: -1.042vw;
        margin-left: -1.042vw
    }

    #portfolio-flters li {
        border-bottom: .139vw
    }

    .notfound {
        max-width: 48.611vw;
        padding: 1.389vw
    }

    .notfound p {
        font-size: 1vw;
        margin-bottom: 1.389vw
    }

    .notfound a {
        font-size: .972vw;
        padding: 1.042vw 2.083vw;
        border-radius: 2.778vw;
        box-shadow: 0 .278vw 1.042vw -.347vw var(--main-bg-color)
    }
}