{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <script type="text/javascript" src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>

  <title>Company</title>
  
  
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'app/css\bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'app/css/font-awesome.min.css' %}">
  <link href="{% static 'app/css/style.css' %}"  rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'app/css/responsive.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="{% static 'app/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'app/css/site-color.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/site.css' %}">

  
  <style>
    #preloader {
      background: black url("{% static 'app/images/LCPT.gif' %}") no-repeat center center;
      background-size: 15%;
      height: 100vh; width: 100%;
      opacity: 1;
      transition: opacity 0.7s ease-out; /* Add a transition for opacity */
      position: fixed; 
      z-index: 9999;
    }
  </style>
  <script defer src="{% static 'app/js\app.js' %}"></script>
  <script defer src="{% static 'app/js\navbar.js' %}"></script>
</head>

<body>
  <div id="preloader"></div>

<!--           header          -->




<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <div id="header" class="nav-collapse">
      <div class="site-row clearfix">
          <div class="site-col-1">

              <!--Logo-->
              <div id="logo">

                  <h1 class="unselectable">BloodDrain</h1>

              </div>
              <!--End of Logo-->

              <aside>

                  <!--Social Icons in Header-->
                  <ul class="social-icons">
                      <li>
                          <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                            <i class="fab fa-facebook-f"></i><span>Facebook</span>
                          </a>
                      </li>
                      <li>
                          <a target="_blank" title="Art Staion" href="http://google.com/+username">
                            <i class="fab fa-artstation"></i><span>Art Staion</span>
                          </a>
                      </li>
                      <li>
                          <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                            <i class="fab fa-twitter"></i><span>Twitter</span>
                          </a>
                      </li>
                      <li>
                          <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                            <i class="fab fa-instagram"></i><span>Instagram</span>
                          </a>
                      </li>
                  </ul>
                  <!--End of Social Icons in Header-->

              </aside>

              <!--Main Navigation-->
              <nav id="nav-main">
                  <ul class="unselectable">
                      <li>
                          <a href="#banner">Home</a>
                      </li>
                      <li>
                          <a href="#about">About</a>
                      </li>
                      <li>
                          <a href="#service">Services</a>
                      </li>
                      <li>
                          <a href="#contact_us">Contact us</a>
                      </li>
                      <li>
                          <a href="{% url 'app-portfolio' %}">Portfolio</a>
                      </li>
                  </ul>
              </nav>
              <!--End of Main Navigation-->

              <div id="nav-trigger"><span></span></div>
              <nav id="nav-mobile"></nav>

          </div>
      </div>
  </div>
  <!--End of Header-->

  <!--Banner Content-->

  <div id="banner-content" class="site-row clearfix">
      <div class="video_container">
          <video autoplay muted loop id="video_background">
              <source src="{{ main_video.video.url }}" type="video/mp4">
              Your browser does not support the video tag.
          </video>
          <div id="video-overlay"></div>
      </div>

      <div class="site-col-38 ">
          <div class="section-heading unselectable">
              <h1>WELCOME TO BloodDrain</h1>
              <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus hic exercitationem corporis
                  nobis rem nesciunt! Reprehenderit omnis, magni ducimus quam sequi explicabo, doloremque placeat
                  velit qui vitae cumque fugit voluptates?</h2>
          </div>

          <!--Call to Action-->
          <a href="#contact_us" class="main-button unselectable">Contact us</a>
          <!--End Call to Action-->

      </div>

  </div><!--End of Row-->
</header>




<!--         end header        -->


    <!--Content Section-->
    <div id="about" class="scrollto clearfix unselectable">

      <div class="site-row no-padding-bottom clearfix">


          <!--Content Left Side-->
          <div class="site-col-3 hidden">
              <!--User Testimonial-->
              <blockquote class="testimonial text-right bigtest">
                  <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore
                      et dolore magna aliqua</q>
                  <footer>— John Doe, Happy Customer</footer>
              </blockquote>
              <!-- End of Testimonial-->

          </div>
          <!--End Content Left Side-->

          <!--Content of the Right Side-->
          <div class="site-col-3 hidden">
              <div class="section-heading">
                  <h3>BELIEVING</h3>
                  <h2 class="section-title">Who we are ?</h2>
                  <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam!</p>
              </div>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                  dicta sunt explicabo.
              </p>
              <p>
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                  consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                  Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet!
              </p>
              <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
              <a href="#"  class="main-button">
                  WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
              </a>
          </div>
          <!--End Content Right Side-->

          <div class="site-col-3 hidden">
              <img src="{% static 'app/images/dancer.jpg' %}" alt="Dancer" />
          </div>

      </div>


  </div>
  <!--End of Content Section-->




  <!-- do section -->

  <section class="do_section layout_padding scrollto clearfix unselectable" id="service">
    <div class="container">
      <div class="heading_container">
        <div class="section-head__back">Services</div>
        <h2>
          What we offer
        </h2>
        <!-- Projects Start -->
        <!-- <div class="container-xxl py-3">
      <div class="container-fluid">
          <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
              <div class="col-12 text-center">
                  <ul class="list-inline mb-5" id="portfolio-flters">
                      <li class="mx-2 active" data-filter="*">All</li>
                      <li class="mx-2" data-filter=".first">General Carpentry</li>
                      <li class="mx-2" data-filter=".second">Custom Carpentry</li>
                  </ul>
              </div>
          </div>
          <div class="row g-4 portfolio-container">
              <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-1.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-2.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-3.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-4.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-5.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-5.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-6.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-6.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
    </div>
  </div>
  <div class="pt-3 container-fluid">
    <ul class="nav nav-pills mb-3 nav-head" id="pills-tab" role="tablist">

      {% for service in services %}

    
      <li class="nav-item ml-3" role="presentation">
        <button class="nav-link {% if forloop.first %}active{% endif %} button-style" id="service-tab-{{ service.id }}" data-bs-toggle="pill" data-bs-target="#service-{{ service.id }}" type="button" role="tab" aria-controls="service-{{ service.id }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ service.title }}</button>
      </li>
      {% endfor %}


  
    </ul>
    <div class="tab-content" id="pills-tabContent">
      {% for service in services %}
      <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="service-{{ service.id }}" role="tabpanel" aria-labelledby="service-tab-{{ service.id }}">
        <div class="row">
            <div class="services-box col-12 col-md-5 d-flex">
                <div class="services-text">
                    <h1>{{ service.title }}</h1>
                    <p>{{ service.description }}</p>
                    <div >
                        <a class ="main-button" href="{% url 'app-portfolio' %}?pageid={{ service.id }}">show more</a>
                    </div>
                </div>
            </div>
            <div class="img-box col-12 col-md-7">
                <div id="carousel-service-{{ service.id }}" class="carousel slide" data-ride="carousel" data-interval="1500">
                    <ol class="carousel-indicators">
                        {% for image in service.services_images.all %}
                        
                        <li data-target="#carousel-service-{{ service.id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                        
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in service.services_images.all %}
                        
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="d-block w-100" src="{{ image.image.url }}" alt="{{ image.name }}">
                        </div>
                        
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-service-{{ service.id }}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-service-{{ service.id }}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
      {% endfor %}
    </div>   
    </div>
  </div>

  </section>

  <!-- end do section -->


<!-- portfolio section -->


<!-- end portfolio section -->
  <!-- our team section -->
  <!-- <section class="client_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our team
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel">
          <div class="item hidden hidden">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'app/images/cb068a0af11ad62d951c0d2c3a34ebd5.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Karim yassir <br>
                  <span>
                    Lighting Artist
                  </span>
                </h5>
                <img src="{% static 'app/images/quote.png' %}"  alt="">
                <p>
                  Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                </p>
              </div>
            </div>
          </div>
          <div class="item hidden">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'app/images/55403b8e91466ea11f388fb42c98682a.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Amir Essam<br>
                  <span>
                    3D Artist
                  </span>
                </h5>
                <img src="{% static 'app/images/quote.png' %}"  alt="">
                <p>
                  Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                </p>
              </div>
            </div>
          </div>
          <div class="item hidden">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'app/images/face34b54bca10f17a85164f6c5f4876.jpg' %}"  alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Ahmed Mostafa<br>
                  <span>
                    3D environment & props artist
                  </span>
                </h5>
                <img src="{% static 'app/images/quote.png' %}" alt="">
                <p>
                  Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end client section -->

  <!-- target section -->
  <!-- <section class="target_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 hidden">
          <div class="detail-box">
            <h2>
              1000+
            </h2>
            <h5>
              Years of Business
            </h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 hidden">
          <div class="detail-box">
            <h2>
              20000+
            </h2>
            <h5>
              Projects Delivered
            </h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 hidden">
          <div class="detail-box">
            <h2>
              10000+
            </h2>
            <h5>
              Satisfied Customers
            </h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 hidden">
          <div class="detail-box">
            <h2>
              1500+
            </h2>
            <h5>
              Cups of Coffee
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end target section -->


  <!-- contact section -->

  <section class="contact_section layout_padding scrollto clearfix unselectable" id="contact_us">
    <div class="container">
      <div class="section-head__back">Contact Us</div>
      <div class="heading_container hidden">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="">
        <div class="">
          <div class="row">
            <div class="col-md-9 mx-auto">
              <div class="contact-form">
                <form action="">
                  <div class="hidden">
                    <input type="text" placeholder="Full Name ">
                  </div>
                  <div class="hidden">
                    <input type="text" placeholder="Phone Number">
                  </div>
                  <div class="hidden">
                    <input type="email" placeholder="Email Address">
                  </div>
                  <div class="hidden">
                    <input type="text" placeholder="Message" class="input_message">
                  </div class="hidden">
                  <div class="d-flex justify-content-center hidden">
                    <button type="submit" class="btn_on-hover">
                      Send
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end contact section -->


  <!--Footer-->
  <footer id="landing-footer" class="clearfix">
    <div class="site-row clearfix">

        <p id="copyright" class="site-col-2 unselectable">Made with love by <a href="">bloodrain</a>
        </p>

        <!--Social Icons in Footer-->
        <ul class="site-col-2 social-icons unselectable">
            <li>
                <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                  <i class="fab fa-facebook-f"></i><span>Facebook</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="Art Station" href="http://google.com/+username">
                  <i class="fab fa-artstation"></i><span>Art Staion</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                  <i class="fab fa-twitter"></i><span>Twitter</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                  <i class="fab fa-instagram"></i><span>Instagram</span>
                </a>
            </li>
            <!-- <li>
                <a target="_blank" title="behance" href="http://www.behance.net">
                    <i class="fa fa-behance fa-1x"></i><span>Behance</span>
                </a>
            </li> -->
        </ul>
        <!--End of Social Icons in Footer-->
    </div>
</footer>
<!--End of Footer-->


<script type="text/javascript" src="{% static 'app/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- owl carousel script 
  -->
<script type="text/javascript">
  $(".owl-carousel").owlCarousel({
    loop: true,
    margin: 0,
    navText: [],
    center: true,
    autoplay: true,
    autoplayHoverPause: true,
    responsive: {
      0: {
        items: 1
      },
      1000: {
        items: 3
      }
    }
  });
</script>
<!-- end owl carousel script -->

</body>

<script>

var preloader = document.getElementById("preloader");
window.addEventListener("load", function(){
  preloader.style.opacity = "0"; // Set opacity to 0 to fade out
});

// After the fade out animation completes, remove the preloader from the layout
setTimeout(function() {
  preloader.style.display = "none";
}, 700); // Adjust the time to match the duration of your transition (in milliseconds)


</script>
<!-- JavaScript Libraries -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'app\js\jquery.1.8.3.min.js' %}"></script>
<!-- <script src="{% static 'app/lib/wow/wow.min.js' %}"></script> -->
<script src="{% static 'app/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'app/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'app/lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'app/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'app/lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'app/lib/fslightbox-basic-3.4.1/fslightbox.js' %}"></script>
<script src="{% static 'app/js/featherlight.min.js' %}"></script>
<script src="{% static 'app/js/featherlight.gallery.min.js' %}"></script>
<script src="{% static 'app/js/jquery.enllax.min.js' %}"></script>
<script src="{% static 'app/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'app/js/jquery.stickyNavbar.min.js' %}"></script>
<script src="{% static 'app/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'app/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'app/js/portoflio.js' %}"></script>
<script src="{% static 'app/js/site.js' %}"></script>


</html>