{% extends "app/base.html" %}
{% block content %}
{% load static %}

  <div class="hero_area" id="hero_area">

    <div class="video_section">
      
      <div class="video_container">
        <video autoplay muted loop id="video_background">
          <source src="{{ main_video.video.url }}"  type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
 
  
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col">
                  <div class="detail-box">
                    <div>
                      <h2>
                        welcome to

                      </h2>
                      <h1 class="m-color">
                        ZacK studio
                      </h1>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                      </p>
                      <div class="">
                        <a href="">
                          Contact us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- end slider section -->
  </div>
  </div>
  <!-- bullutin board section  -->
  <!-- <div class="bulletin-container layout_padding">
    <div class="logos-container">
      <img src="images\c-1.png" class="logo" alt="">
      <img src="images\c-2.png" class="logo" alt="">
      <img src="images\c-3.png" class="logo" alt="">
    
    </div>
  </div> -->
  <!-- bullutin board section end -->
  <!-- do section -->

  <section class="do_section layout_padding " id="services">
    <div class="container">
      <div class="heading_container">
        <div _ngcontent-ng-c2642152809="" class="section-head__back">Services</div>
        <h2>
          What we offer
        </h2>





        <!-- Projects Start -->
        <!-- <div class="container-xxl py-3">
      <div class="container-fluid">
          <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
              <div class="col-12 text-center">
                  <ul class="list-inline mb-5" id="portfolio-flters">
                      <li class="mx-2 active" data-filter="*">All</li>
                      <li class="mx-2" data-filter=".first">General Carpentry</li>
                      <li class="mx-2" data-filter=".second">Custom Carpentry</li>
                  </ul>
              </div>
          </div>
          <div class="row g-4 portfolio-container">
              <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-1.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-2.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-3.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-4.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-5.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-5.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                  <div class="rounded overflow-hidden">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid w-100" src="img/portfolio-6.jpg" alt="">
                          <div class="portfolio-overlay">
                              <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-6.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                              <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
    </div>
  </div>
  <div class="pt-3 container-fluid">
    <ul class="nav nav-pills mb-3 nav-head" id="pills-tab" role="tablist">

      {% for service in services %}

    
      <li class="nav-item ml-3" role="presentation">
        <button class="nav-link {% if forloop.first %}active{% endif %} button-style" id="service-tab-{{ service.id }}" data-bs-toggle="pill" data-bs-target="#service-{{ service.id }}" type="button" role="tab" aria-controls="service-{{ service.id }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ service.title }}</button>
      </li>
      {% endfor %}


  
    </ul>
    <div class="tab-content" id="pills-tabContent">
      {% for service in services %}
      <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="service-{{ service.id }}" role="tabpanel" aria-labelledby="service-tab-{{ service.id }}">
        <div class="row">
            <div class="services-box col-12 col-md-5 d-flex">
                <div class="services-text">
                    <h1>{{ service.title }}</h1>
                    <p>{{ service.description }}</p>
                    <div class="show-button">
                        <a href="{% url 'app-portfolio' service.id %}">show more</a>
                    </div>
                </div>
            </div>
            <div class="img-box col-12 col-md-7">
                <div id="carousel-service-{{ service.id }}" class="carousel slide" data-ride="carousel" data-interval="1500">
                    <ol class="carousel-indicators">
                        {% for image in service.services_images.all %}
                        
                        <li data-target="#carousel-service-{{ service.id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                        
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in service.services_images.all %}
                        
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="d-block w-100" src="{{ image.image.url }}" alt="{{ image.name }}">
                        </div>
                        
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-service-{{ service.id }}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-service-{{ service.id }}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
      {% endfor %}
    </div>   
    </div>
  </div>

  </section>

  <!-- end do section -->

  <!-- who section -->

  <section class="who_section" id="who_section">
    <div class="container">
      <div class="row">
        <div class="col-md-5 hidden">
          <div class="img-box">
            <img src="{% static 'app/images/karim-yasser-final-image-02.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-7 hidden">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                WHO WE ARE?
              </h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrudLorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud
            </p>
            <div>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end who section -->


<!-- portfolio section -->


<!-- end portfolio section -->
  <!-- our team section -->
  <section class="client_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our team
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel">
          <div class="item hidden hidden">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'app/images/cb068a0af11ad62d951c0d2c3a34ebd5.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Karim yassir <br>
                  <span>
                    Lighting Artist
                  </span>
                </h5>
                <img src="{% static 'app/images/quote.png' %}"  alt="">
                <p>
                  Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                </p>
              </div>
            </div>
          </div>
          <div class="item hidden">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'app/images/55403b8e91466ea11f388fb42c98682a.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Amir Essam<br>
                  <span>
                    3D Artist
                  </span>
                </h5>
                <img src="{% static 'app/images/quote.png' %}"  alt="">
                <p>
                  Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                </p>
              </div>
            </div>
          </div>
          <div class="item hidden">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'app/images/face34b54bca10f17a85164f6c5f4876.jpg' %}"  alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Ahmed Mostafa<br>
                  <span>
                    3D environment & props artist
                  </span>
                </h5>
                <img src="{% static 'app/images/quote.png' %}" alt="">
                <p>
                  Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- target section -->
  <section class="target_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 hidden">
          <div class="detail-box">
            <h2>
              1000+
            </h2>
            <h5>
              Years of Business
            </h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 hidden">
          <div class="detail-box">
            <h2>
              20000+
            </h2>
            <h5>
              Projects Delivered
            </h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 hidden">
          <div class="detail-box">
            <h2>
              10000+
            </h2>
            <h5>
              Satisfied Customers
            </h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 hidden">
          <div class="detail-box">
            <h2>
              1500+
            </h2>
            <h5>
              Cups of Coffee
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end target section -->


  <!-- contact section -->

  <section class="contact_section layout_padding hidden" id="contact_us">
    <div class="container">

      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="">
        <div class="">
          <div class="row">
            <div class="col-md-9 mx-auto">
              <div class="contact-form">
                <form action="">
                  <div>
                    <input type="text" placeholder="Full Name ">
                  </div>
                  <div>
                    <input type="text" placeholder="Phone Number">
                  </div>
                  <div>
                    <input type="email" placeholder="Email Address">
                  </div>
                  <div>
                    <input type="text" placeholder="Message" class="input_message">
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn_on-hover">
                      Send
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end contact section -->


  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Shop
            </h5>
            <div>
              <div class="img-box">
                <img src="{% static 'app/images/location-white.png' %}" width="18px" alt="">
              </div>
              <p>
                Address
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static 'app/images/telephone-white.png' %}"  width="12px" alt="">
              </div>
              <p>
                +201097234496
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static 'app/images/envelope-white.png' %}" width="18px" alt="">
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <div class="insta_container">
              <div>
                <a href="">
                  <div class="insta-box b-1">
                    <img src="{% static 'app/images/insta.png' %}" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-2">
                    <img src="{% static 'app/images/insta.png' %}" alt="">
                  </div>
                </a>
              </div>

              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="{% static 'app/images/insta.png' %}" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="{% static 'app/images/insta.png' %}" alt="">
                  </div>
                </a>
              </div>
              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="{% static 'app/images/insta.png' %}" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="{% static 'app/images/insta.png' %}" alt="">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="{% static 'app/images/fb.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'app/images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'app/images/linkedin.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'app/images/youtube.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'app/images/3721680_artstation_icon (1).png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  {% endblock content %}