{% extends "app/base.html" %}
{% block content %}
{% load static %}

<!-- Projects Start -->
 
<section class="container-fluid container-xxl py-3 project-container scrollto clearfix unselectable" id="portfolio">
    <div class="port-height"></div>
    <div class="container-fluid">
        <div class="row mt-n2 fadeInUp" >
            <div class="col-12 text-center">
                <ul class="list-inline mb-5" id="portfolio-flters">
                    <li class="mx-2 {% if active == 20 %}active{% endif %}" data-filter="*" >All</li>
                    {% for service in services %}
                    <li class="mx-2 {% if active == service.id %}active{% endif %}" data-filter=".service{{ service.id }}" data-service-id="{{ service.id }}">{{ service.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container">
            {% for project in projects %}
            <div class="col-lg-4 col-md-6 portfolio-item service{{ project.project_category.id }}  fadeInUp" data-category="{{ project.project_category.id }}" >
                <div class="overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <a href="{% url 'app-project' project.id %}" >
                            <img class="img-fluid w-100" src="{{ project.project_thumbnail.image.url }}" alt="{{ project.project_thumbnail.image.name }}" loading="lazy"
                        ></a>
                        <div class="portfolio-overlay" >
                            <a class="btn btn-square btn-outline-light mx-1" href="{{ project.project_thumbnail.image.url }}" data-fslightbox="gallery"><i class="far fa-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- end work section -->
<script>
   
</script>
{% endblock content %}

