
{% extends "app/base.html" %}
{% block content %}
{% load static %}

<div class="container-fluid">
<div class="project-container">
    <div class="project-slider">

    </div>
    <div class="project-description">
        <h1>Lorem.</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus obcaecati enim, odio culpa nemo, recusandae illo autem fuga, necessitatibus nam inventore unde blanditiis. Architecto iure, nemo et incidunt a repellendus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nostrum cupiditate quod nobis magni modi laboriosam totam deserunt alias quasi ab pariatur tempore, odit quia, dolorem obcaecati animi, excepturi fugiat? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ipsum laboriosam atque dolorem, modi cupiditate? Odio distinctio iusto corrupti cum tempora libero animi voluptates sed, non ratione impedit assumenda aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ratione. Laboriosam voluptate qui quas hic ab quam nesciunt architecto molestias voluptatem sunt minima veritatis odio cumque corrupti quis, obcaecati saepe.</p>
    </div>
</div>
</div>

{% endblock content %}
