{% extends "app/base.html" %}
{% block content %}
{% load static %}

<div class="project-page">
    <div class="project-section">
        <div class="container-sm">
            <div class="section-head">{{ active_project.project_name }}</div>
            <h1>{{ active_project.project_name }}</h1>
            <div class="project-description">
                <p>{{ active_project.project_description }}</p>
            </div>
        </div>
    </div>
    <!-- Project Images -->
    {% for image in active_project.project_images.all %}
    <div class="project-section">
        <div class="text-center container-sm">
            <img class="img-responsive" alt="{{ image.name }}" src="{{ image.image.url }}">
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}